################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AcademiaAuditiva/FileContentIndex/65c5630f-acb9-4f51-885c-fdd8481e03fc.vsidx
/.vs/AcademiaAuditiva/FileContentIndex
