@page
@model Disable2faModel
@{
    ViewData["Title"] = Localizer["Manage.Disable2fa.Title"].Value;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3 class="mb-3 text-body-emphasis">@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@Localizer["Manage.Disable2fa.OnlyDisables"]</strong>
    </p>
    <p class="mb-0">@Localizer["Manage.Disable2fa.Body"]</p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@Localizer["Manage.Disable2fa.Submit"]</button>
    </form>
</div>
