@model object

@{
    var partialName = ViewData["FiltersPartial"]?.ToString() ?? "_ExerciseFilters";
    var model = Model as AcademiaAuditiva.ViewModels.ExerciseViewModel;
    var filtersModel = model?.Filters;
}

<div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtersModalLabel">@Localizer["Filters"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="@Localizer["Close"]"></button>
            </div>
            <div class="modal-body">
                @if (filtersModel != null)
                {
                    @await Html.PartialAsync(partialName, filtersModel)
                }
                else
                {
                    <p class="text-muted">@Localizer["NoFiltersAvailable"]</p>
                }
            </div>
        </div>
    </div>
</div>
