@model AcademiaAuditiva.ViewModels.ExerciseFiltersViewModel

<div class="card mb-3">
    <div class="card-header">@Localizer["Filters"]</div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <label>@Localizer["Difficulty"]</label>
                    <select class="form-select" asp-for="Difficulty">
                        <option>Easy</option><option>Medium</option><option>Hard</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>@Localizer["Instrument"]</label>
                    <select class="form-select" asp-for="Instrument">
                        <option>Piano</option><option>Guitar</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>@Localizer["Range"]</label>
                    <select class="form-select" asp-for="Range">
                        <option>C3 - C4</option><option>C4 - C5</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
