<header class="d-flex justify-content-between align-items-center py-3 border-bottom">
    <div>
        <strong>@Model.Title</strong>
    </div>
    <div>
        <select class="form-select form-select-sm d-inline" style="width: auto;">
            <option value="pt-br">PT</option>
            <option value="en-us">EN</option>
            <option value="fr-ca">FR</option>
        </select>

        @await Html.PartialAsync("_ExerciseSettings")
    </div>
</header>